<!DOCTYPE html>
<html lang="en">
<head>
  <title>배탈의 민족 사장님 사이트</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

  .carousel-inner img {
      width: 40%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }
  </style>
</head>
<body>

 <header>

 <a href="/ceo"><img class="img-responsive center-block" src="/images/ceo/ceo_main.jpg" width = 300 higth = 300 alt="logo"></a>

<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/ceo_sales">내 업소 관리</a></li>
        <li><a href="/ceo_service">서비스 소개</a></li>
      </ul>
	  <ul class="nav navbar-nav navbar-right">
      <%
      if(session.user==undefined)
      {
      %>
      <li><a href='/ceo_signup'><span class="glyphicon glyphicon-user"></span>회원가입</a></li>
      <li><a href='/ceo_login'><span class="glyphicon glyphicon-log-in"></span>로그인</a></li>
      <%
      }
      else{
      %>
      <li><a href='/ceo_login'><span class="glyphicon glyphicon-log-in"></span>로그아웃</a></li>
      <%
      }
      %>
      <!-- <li><a href='/ceo_login'><span class="glyphicon glyphicon-log-in"></span>로그인</a></li> -->
	  </ul>
    </div>
  </div>
</nav>
    </header>




<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" >
      <div class="item active">
        <img src="/images/CEO/CEO_main1.jpg" alt="Image" width="460" height="345">
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item">
        <img src="/images/CEO/CEO_main2.jpg" alt="Image" width="460" height="345">

        <div class="carousel-caption">
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<div class="container text-center">
<br>
  <div class="btn-group btn-group-justified">
	<a href="#" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-home"></span>  업소정보 수정하기</a>
    <a href="/ceo_sales" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-list-alt"></span>  정산내역 확인</a>
    <a href="/ceo_review" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-th-list"></span>  리뷰 확인</a>
  </div>
</div><br>


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">배탈의 민족 최신 광고 보기</div>
        <a href="https://www.youtube.com/watch?v=s4TatKe4nL0" ><div class="panel-body"><img src="/images/CEO/CEO_AD1.jpg" class="img-responsive" style="width:100%" alt="Image"></div></a>
        <div class="panel-footer">배탈의 민족 최신 광고 유튜브 </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-danger">
        <div class="panel-heading">성공업소 사장님의 레알꿀팁</div>
        <a href="https://www.youtube.com/watch?v=8moEeQ8_c_Q" ><div class="panel-body"><img src="/images/CEO/CEO_AD2.jpg" class="img-responsive" style="width:100%" alt="Image"></div></a>
        <div class="panel-footer">배탈의민족 사장님들을 위한 성공특강!</div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">최신기사</div>
        <a href="http://www.yonhapnews.co.kr/bulletin/2016/04/18/0200000000AKR20160418037600017.HTML" ><div class="panel-body"><img src="/images/CEO/CEO_AD3.jpg" class="img-responsive" style="width:100%" alt="Image"></div></a>
        <div class="panel-footer">배탈의민족, 570억원 투자유치…사업 고도화 박차</div>
      </div>
    </div>
  </div>
</div><br>



  </div>
</div><br><br>


<footer class="container-fluid text-left">
  <p>Software Engineering Project </p>
</footer>

</body>
</html>
